In [3]:
import pandas as pd
my_series = pd.Series([5, 6, 7, 8, 9, 10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [4]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [6]:
my_series[4]

9

In [7]:
my_series2 = pd.Series([5, 6, 7, 8, 9, 10], index = ['a', 'b', 'c', 'd', 'e', 'f'])
my_series2['f']

10

In [8]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [9]:
my_series2[['a', 'b', 'f']] = 0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [10]:
my_series2[my_series2 > 0]

c    7
d    8
e    9
dtype: int64

In [11]:
my_series2[my_series2 > 0] * 2

c    14
d    16
e    18
dtype: int64

In [12]:
my_series3 = pd.Series({'a':5, 'b':6, 'c':7, 'd':8})
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [13]:
my_series3.name = 'numbers'
my_series3.index.name = 'letters'
my_series3

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

In [24]:
my_series3.index = ['A', 'B', 'C','D']
my_series3

A    5
B    6
C    7
D    8
Name: numbers, dtype: int64

In [44]:
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
})
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [22]:
df['country']

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [25]:
df['population']

0     17.04
1    143.50
2      9.50
3     45.50
Name: population, dtype: float64

In [26]:
df.columns

Index(['country', 'population', 'sguare'], dtype='object')

In [27]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
df.values

array([['Kazakhstan', 17.04, 2724902],
       ['Russia', 143.5, 17125191],
       ['Belarus', 9.5, 207600],
       ['Ukraine', 45.5, 603628]], dtype=object)

In [45]:
df = pd.DataFrame({
    'country' : ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population' : [17.04, 143.5, 9.5, 45.5],
    'square' : [2724902, 17125191, 207600, 603628]
}, index = ['KZ', 'RU', 'BY', 'UA'])
df

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
UA     Ukraine       45.50    603628

In [61]:
df.index = ['KZ', 'RU', 'BY', 'UA']
df.index.name = 'Contry Code'
df

                country  population    square    density
Contry Code
KZ           Kazakhstan       17.04   2724902   6.253436
RU               Russia      143.50  17125191   8.379469
BY              Belarus        9.50    207600  45.761079
UA              Ukraine       45.50    603628  75.377550

In [62]:
df['country']

Contry Code
KZ    Kazakhstan
RU        Russia
BY       Belarus
UA       Ukraine
Name: country, dtype: object

In [64]:
df.loc['KZ']

country       Kazakhstan
population         17.04
square           2724902
density          6.25344
Name: KZ, dtype: object

In [65]:
df.iloc[0]

country       Kazakhstan
population         17.04
square           2724902
density          6.25344
Name: KZ, dtype: object

In [66]:
df.loc[['KZ', 'RU'], 'population']

Contry Code
KZ     17.04
RU    143.50
Name: population, dtype: float64

In [67]:
df.loc['KZ':'BY', :]

                country  population    square    density
Contry Code
KZ           Kazakhstan       17.04   2724902   6.253436
RU               Russia      143.50  17125191   8.379469
BY              Belarus        9.50    207600  45.761079

In [68]:
df[df.population > 10][['country','square']]

                country    square
Contry Code
KZ           Kazakhstan   2724902
RU               Russia  17125191
UA              Ukraine    603628

In [69]:
df.reset_index()

  Contry Code     country  population    square    density
0          KZ  Kazakhstan       17.04   2724902   6.253436
1          RU      Russia      143.50  17125191   8.379469
2          BY     Belarus        9.50    207600  45.761079
3          UA     Ukraine       45.50    603628  75.377550

In [70]:
df['density'] = df['population'] / df['square'] * 1000000
df

                country  population    square    density
Contry Code
KZ           Kazakhstan       17.04   2724902   6.253436
RU               Russia      143.50  17125191   8.379469
BY              Belarus        9.50    207600  45.761079
UA              Ukraine       45.50    603628  75.377550

In [71]:
df.drop(['density'], axis = 'columns')

                country  population    square
Contry Code
KZ           Kazakhstan       17.04   2724902
RU               Russia      143.50  17125191
BY              Belarus        9.50    207600
UA              Ukraine       45.50    603628

In [72]:
df = df.rename(columns = {'Conutry Code':'contry_code'})
df

                country  population    square    density
Contry Code
KZ           Kazakhstan       17.04   2724902   6.253436
RU               Russia      143.50  17125191   8.379469
BY              Belarus        9.50    207600  45.761079
UA              Ukraine       45.50    603628  75.377550

In [77]:
titanic_df = pd.read_csv('titanic.csv')
print(titanic_df.head())

FileNotFoundError: [Errno 2] File b'titanic.csv' does not exist: b'titanic.csv'